.inbox{
    margin: 50px;
}
.inbox1{
    margin: 100px;
    text-align: right;
    
    
}
.inbox2{
    margin: 50px;
    text-align: center;

}
.inbox4{
    margin: 50px;
    text-align: center;
}
.inbox5{
    margin: 50px;
    text-align: center;
}

